@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  /* 63.5% of 16px = 10px so 1 rem = 10px, 2 rem = 20px */
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
p,
ul,
li,
span {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
h1 {
  font-size: 4.5rem;
}
h2,
h3,
h4,
h5 {
  font-size: 30px;
}
.header-page {
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
/* width = 1024px = desktop screen */
.container-width {
  max-width: 1024px;
  margin: 0 auto;
}
/* navigation-bar-part */
.navigation-bar {
  display: flex;
  justify-content: space-between;
}
.grid-1x2 {
  /* 1fr = 50% */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-1x3 {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.grid-1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.btn {
  padding: 1rem 2.5rem;
  font-weight: bolder;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 2.2rem;
  background-color: rgb(223, 223, 223);
}
.logo {
  width: 100px;
}
.logo > img {
  width: 100%;
}
.nav-lists {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.nav-links > a:hover {
  color: dodgerblue;
}
.bar-icon {
  display: none;
  cursor: pointer;
}

/* break point */
/* width = 768px = mobile screen */
@media screen and (max-width: 1500px) {
  .navigation-bar {
    padding: 0 2rem;
  }
  .section-part {
    padding: 0 2rem;
  }
  .course-part {
    padding: 0 2rem;
  }
  .categories-part {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 900px) {
  .grid-1x3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .navigation-bar {
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .bar-icon {
    display: block;
  }
  .nav-lists {
    display: none;
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
  }
  /* javascript */
  .nav-lists.show {
    display: flex;
  }

  .nav-links {
    border-bottom: 1px solid #808080;
  }
  .grid-1x2 {
    padding: 2rem 0;
    text-align: center;
    grid-template-columns: 1fr;
  }
  .grid-1x3 {
    grid-template-columns: 1fr;
  }
  .grid-1x4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* section-part */
.section-part {
  background-color: #808080;
}
.section-image {
  max-width: 600px;
}
.section-image > img {
  width: 100%;
}
.heading-describtion {
  color: white;
  line-height: 1.2;
}
.grid-item {
  align-items: center;
}
.describtion > p {
  margin: 2rem 0;
}
/* courses-part */
.header-course > .popular-course {
  text-align: center;
  margin: 7rem 0;
  font-size: 5rem;
}
.course-card {
  padding: 2rem;
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  /* box-shadow: 2px 2px 5px black; */
}
.image-one {
  width: 100%;
  /* border-radius: 15px 15px 0 0; */
  /* overflow: hidden; */
}
.image-one > img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.title-course > .header3,
.text-course {
  text-align: center;
  color: black;
}
.title-course > .text-course {
  margin: 2.5rem 0;
}
.btn-block {
  width: 100%;
}
.btn-container {
  display: flex;
  gap: 1.5rem;
}
.btn-container > .btn-preview {
  padding: 1rem 2.5rem;
  font-weight: bolder;
  color: black;
  border: none;
  border-radius: 15px;
  font-size: 2.2rem;
  text-align: center;
}
.btn-container > .btn-preview {
  background-color: dodgerblue;
  color: white;
}
/* categoires-part */
.top-categories {
  padding: 7rem 0;
  font-size: 5rem;
  text-align: center;
}
.icon-cards-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 25px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.icon > img {
  transition: all 0.15s ease;
}
.icon {
  max-width: 150px;
}
.icon > img {
  width: 100%;
}
.title-cate > .text-cate {
  color: black;
}
.icon-cards-link:hover > .icon > img {
  transform: scale(1.05);
}
/* footer-part */
.footer-part {
  margin-top: 8rem;
  padding: 10rem 2rem;
  background-color: rgb(6, 6, 41);
}
.footer-lists > .footer-links,
.copyright-icon {
  color: lightgrey;
}
.footer-links:hover {
  color: white;
}
